.allmarquee{
  overflow: hidden;
}

.marqueeText{
  background-color: black ;
  color: #ffffff;
  font-size: 15px;
}
.marqueeText ul{
  display:flex;
  list-style: none;
  text-decoration: none;
}
.marqueeText ul li {
  
  margin-top: 10px;
  font-family: "Geogrotesque Rg", sans-serif;
  font-weight: 100;
}
.marqueeText ul li:hover {
  color: red;
  cursor: pointer;
}
